@charset "UTF-8";

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    behavior: url(js/PIE.htc);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button, input {
    outline: 0;
    border: none;
    vertical-align: middle;
}

textarea {
    outline: 0;
    border: none;
    resize: none;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

body {
    background: #fff;
    color: #75797c;
    font-size: 14px;
    font-family: Microsoft YaHei, "微软雅黑", Arial;
}

input, textarea {
    color: #9d9d9d;
    font-size: 9pt;
    font-family: Microsoft YaHei;
}

option, select {
    outline: 0;
    border: none;
    color: #fff;
    font-family: Microsoft YaHei;
}