@charset "UTF-8";

body {
    background: #0c1b2b;
}

.cb-container {
    overflow: hidden;
    margin: 0 auto;
    width: 1920px;
    height: 100%;
    min-width: 1920px;
    background: #0c1b2b url("../images/cd-container-bg.jpg") no-repeat;
}

.cb-title {
    height: 70px;
    line-height: 70px;
}

.cb-title-icon {
    float: left;
    display: block;
    margin: 16px 22px 0 38px;
}

.cb-title-l {
    float: left;
    width: 3px;
    height: 70px;
    background: url("../images/cb-title-l.png") no-repeat;
}

.cb-title-c {
    float: left;
    padding-right: 51px;
    height: 70px;
    background: url("../images/cb-title-c.png") repeat-x;
}

.cb-title-c span {
    color: #fff;
    font-size: 26px;
}

.cb-title-r {
    float: left;
    width: 24px;
    height: 70px;
    background: url("../images/cb-title-r.png") no-repeat;
}

/*分类热点消息*/
.cb-hot-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-width: 1920px;
    min-height: 1080px;
    min-height: 1080px;
    /* background: #132338 url("../images/cb-main-bac06.png") no-repeat; */
}

.cb-hot-po {
    margin-top: 35px;
}

.cb-navbar {
    position: absolute;
    top: 148px;
    left: 58px;
    width: 960px;
    height: 44px;
}

.cb-navbar ul {
    overflow: hidden;
    margin-left: -24px;
}

.cb-navbar ul li {
    float: left;
    margin: 0 8px;
    width: 144px;
    height: 44px;
}

.cb-navbar ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/cb-nav-bac01.png") no-repeat 1px 1px;
    color: #b2e0ff;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.cb-nav-cur a {
    background: url("../images/cb-nav-bac02.png") no-repeat !important;
}

.cb-main-con {
    position: relative;
    margin: 128px 42px 38px;
    width: 1920px;
    height: 800px;
}

/*转载情况分析*/
.cb-zz-container {
    position: relative;
    overflow: hidden;
    width: 1920px;
    height: 100%;
    min-height: 1080px;
    /* background: url("../images/cb-zz-bac01.jpg") no-repeat; */
}

.cb-zz-container .cb-po {
    position: absolute;
    top: 143px;
    left: 0;
}

.cb-zz-head {
    position: absolute;
    top: 126px;
    right: 23px;
    width: 144px;
    height: 100px;
    background: url("../images/cb-cj-bac01.png") no-repeat;
}

.zz-num {
    position: absolute;
    top: 170px;
    right: 0;
}

.zz-head-wz {
    float: left;
    width: 324px;
    height: 42px;
    line-height: 42px;
}

.zz-head-wz .wz-sp {
    float: left;
    display: block;
    padding-left: 49px;
    background: url("../images/cb-head-bac05.png") no-repeat left center;
    color: #57b1ff;
    font-size: 18px;
}

.zz-head-wz .wz-num {
    float: left;
    display: block;
    margin-left: 16px;
    color: #fff;
    font-size: 28px;
}

.zz-head-cs {
    float: left;
    width: 324px;
    height: 42px;
    line-height: 42px;
}

.zz-head-cs .wz-sp {
    float: left;
    display: block;
    padding-left: 49px;
    background: url("../images/cb-head-bac06.png") no-repeat left center;
    color: #57b1ff;
    font-size: 18px;
}

.zz-head-cs .wz-num {
    float: left;
    display: block;
    margin-left: 16px;
    color: #fff;
    font-size: 28px;
}

.zz-head-ct {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    height: 122px;
    background: url("../images/zz-head-ct-bg.png") no-repeat;
}

.jt-hd-sp {
    position: absolute;
    top: 43px;
    left: 50%;
    margin-left: -260px;
    width: 520px;
    color: #e4f2ff;
    text-align: center;
    font-size: 32px;
    line-height: 42px;
}

.zz-main-con {
    position: absolute;
    top: 319px;
    left: 0;
    margin: 0 20px;
}

.zz-con-bk {
    position: relative;
    float: left;
    margin: 0 40px;
    width: 533px;
}

.zz-con-ct {
    position: relative;
    padding: 72px;
    width: 389px;
    height: 389px;
}

.zz-ct-bk {
    position: absolute;
    top: 75px;
    left: 72px;
    width: 388px;
    height: 388px;
    border-radius: 50%;
}

.zz-ct-sp {
    position: absolute;
    top: 99px;
    left: 94px;
    padding-top: 60px;
    width: 343px;
    height: 295px;
    background: url("../images/cb-main-bac03.png") no-repeat;
}

.zz-ct-sp p {
    overflow: hidden;
    margin-bottom: 38px;
    margin-left: 63px;
    width: 210px;
    height: 28px;
    color: #fff;
    line-height: 28px;
}

.zz-ct-sp p img {
    float: left;
    display: block;
    margin-right: 10px;
    width: 28px;
    height: 28px;
}

.zz-ct-sp p label {
    float: left;
    display: block;
    color: #fff;
    font-size: 22px;
}

.zz-ct-sp p span {
    float: right;
    display: block;
    margin-left: 14px;
    color: #95e0ff;
    font-size: 28px;
}

.zz-con-ft {
    margin: 40px auto 0;
    width: 292px;
    height: 58px;
    background: url("../images/cb-main-bac04.png") no-repeat;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 58px;
}

.dw-ct-sp {
    padding-top: 66px;
    height: 285px;
}

.dw-ct-sp p {
    overflow: hidden;
    margin-bottom: 28px;
    margin-left: 53px;
    width: 240px;
    height: 20px;
    color: #fff;
    line-height: 20px;
}

.dw-ct-sp p img {
    float: left;
    display: block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.dw-ct-sp p label {
    float: left;
    display: block;
    color: #fff;
    font-size: 20px;
}

.dw-ct-sp p span {
    float: right;
    display: block;
    margin-left: 16px;
    color: #95e0ff;
    font-size: 24px;
}

.ht-ct-sp {
    padding-top: 95px;
    height: 285px;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
}

.zz-fl-bac {
    background: url("../images/cb-main-bac01.png") no-repeat;
    animation: 30s linear 0s normal none infinite rotate;
    -webkit-animation: 30s linear 0s normal none infinite rotate;
}

.zz-dw-bac {
    background: url("../images/cb-main-bac02.png") no-repeat;
    animation: 30s linear 0s normal none infinite rotate;
    -webkit-animation: 30s linear 0s normal none infinite rotate;
}

/*矩阵图*/
.cb-main-con .content_tagstage_unit {
    position: absolute;
    overflow: hidden;
}

.cb-main-con .content_tagstage_unit a {
    display: block;
    width: 100%;
    height: 100%;
    background: #17a2b7;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

.cb-main-con .content_tagstage_unit a.color1 {
    background: #3c90f3;
}

.cb-main-con .content_tagstage_unit a .title {
    display: block;
    padding: 0 8px;
}

.cb-main-con .content_tagstage_unit a .mask {
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
    visibility: visible \9;
    width: 100%;
    height: 0;
    height: 100% \9;
    color: #FFF;
    text-align: left;
    opacity: .1;
    opacity: .0 \9;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    filter: alpha(opacity=10);
    filter: alpha(opacity=0) \9;
    -ms-transform: translatez(0);
    -ms-transition-duration: .5s;
}

.cb-main-con .content_tagstage_unit a:hover .mask {
    visibility: visible;
    height: 100%;
    background: #000;
    opacity: .9;
    filter: alpha(opacity=90);
}

.cb-main-con .content_tagstage_unit a .mask .cont_mask {
    padding: 0 8px;
}

.cb-main-con .content_tagstage_unit a .mask .cont_mask .cont_title {
    display: block;
    font-weight: bold;
}

.cb-main-con .content_tagstage_unit a .mask .cont_mask .cont_desc {
    color: #ccc;
}

.cb-main-con .content_tagstage_unit a.color0 {
    background: #133557;
}

.cb-main-con .content_tagstage_unit a.color1 {
    background: #bc4548;
}

.cb-main-con .content_tagstage_unit a.color2 {
    background: #c99d30;
}

.cb-main-con .content_tagstage_unit a.color3 {
    background: #029f81;
}

.cb-main-con .content_tagstage_unit a.color4 {
    background: #3a7798;
}

/*亮点荟萃*/
.cb-ld-container {
    position: relative;
    width: 1920px;
    min-height: 1068px;
    /* background:url("../images/ld-bd-bac.jpg") no-repeat; */
}

.cb-ld-header {
    position: relative;
    width: 100%;
    height: 90px;
    background: url("../images/cb-ld-bac01.png") no-repeat;
}

.ld-home-logo {
    float: left;
    display: block;
    margin: 7px 0 0 30px;
    width: 53px;
    height: 53px;
}

.cb-ld-header h1 {
    position: absolute;
    top: 27px;
    left: 618px;
    width: 688px;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 1)), to(rgba(103, 205, 254, 1)));
    color: #BFE5F5;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ld-main-lf {
    position: absolute;
    top: 121px;
    left: 41px;
    width: 239px;
    height: 880px;
    /* border:1px solid #1c405c; */
    border-top: 1px solid #1c405c;
    border-bottom: 1px solid #1c405c;
    /* background-color: rgba(13, 29, 48, 0.75); */
    /* box-shadow:inset 0 0 4px #2d537d; */
}

.ld-nav-lf {
    float: left;
    padding-left: 2px;
    width: 235px;
    height: 100%;
    border-right: 1px solid #254e6c;
    border-left: 1px solid #254e6c;
    background: url("../images/cb-ld-bac02.png") no-repeat center bottom;
    background-color: rgba(14, 37, 59, 0.75);
    box-shadow: inset 0 0 4px #254e6c;
}

.ld-nav-fr {
    background: url("../images/cb-ld-bac05.png") no-repeat center bottom;
}

.ld-nav-fr a {
    display: block;
    padding-left: 54px;
    height: 60px;
    background: url("../images/cb-ld-bac03.png") no-repeat 17px center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
}

.nav-fr-cur {
    width: 232px;
    background: url("../images/cb-ld-bac09.png") no-repeat center;
    background-color: rgba(13, 29, 48, 0.5);
}

.nav-fr-cur a {
    background: url("../images/cb-ld-bac04.png") no-repeat 17px center;
}

.ld-nav-rt {
    float: right;
    width: 177px;
}

.ld-nav-se {
}

.ld-nav-se label {
    display: block;
    padding-left: 22px;
    height: 60px;
    background: url("../images/cb-ld-bac06.png") no-repeat 154px center;
    background-color: rgba(15, 53, 89, 0.8);
    color: #54b0ff;
    font-weight: 600;
    font-size: 14px;
    line-height: 60px;
    cursor: pointer;
}

.nav-th-bk {
}

.ld-nav-th {
    display: block;
    height: 51px;
    background: url("../images/cb-ld-bac12.png") no-repeat center bottom;
    color: #97d4ff;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
}

.nav-se-cur label {
    background: url("../images/cb-ld-bac07.png") no-repeat 150px center;
    background-color: rgba(17, 76, 131, 0.8);
}

.no-bac {
    background: url("../images/cb-jk-bac10.png") no-repeat center;
}

.ld-main-rt {
    position: absolute;
    top: 121px;
    right: 40px;
    z-index: 5;
    /* width:1392px; */
    width: 1590px;
}

.ld-wz-bk {
    /* width:686px; */
    width: 790px;
}

.ld-wz-top {
    position: relative;
    padding: 2px;
    border: 1px solid #35516b;
}

.ld-ls-bj1 {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 11px;
    height: 11px;
    border-top: 1px solid #96a8bc;
    border-left: 1px solid #96a8bc;
}

.ld-ls-bj2 {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 11px;
    height: 11px;
    border-top: 1px solid #96a8bc;
    border-right: 1px solid #96a8bc;
}

.ld-ls-bj3 {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 11px;
    height: 11px;
    border-bottom: 1px solid #96a8bc;
    border-left: 1px solid #96a8bc;
}

.ld-ls-bj4 {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 11px;
    height: 11px;
    border-right: 1px solid #96a8bc;
    border-bottom: 1px solid #96a8bc;
}

.ld-wz-con {
    background-color: rgba(23, 146, 224, 0.15);
}

.ld-wz-con h2 {
    float: left;
    margin-top: -6px;
    margin-left: 24px;
    padding: 6px 0 0 53px;
    height: 54px;
    color: #54b0ff;
    font-size: 24px;
    line-height: 54px;
}

.wz-cb-tit h2 {
    background: url("../images/cb-ld-bac10.png") no-repeat;
}

.ld-wz-ls {
    margin-top: 16px;
}

.ld-ls-tit {
    height: 49px;
    background: url("../images/cb-ld-bac21.png") repeat-x;
}

.ld-ls-tit p {
    float: left;
    color: #1693ff;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 49px;
}

.ld-wz-ul {
    margin-right: -10px;
    padding: 0 0 0 20px;
    height: 710px;
}

.scroll {
    overflow: auto;
    height: 710px;
}

.ld-wz-ul li {
    height: 70px;
    border-bottom: 1px dotted #204155;
    line-height: 70px;
}

.ld-wz-ul li .wz-xh {
    float: left;
    display: block;
    margin: 21px 27px 0 9px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px #72d8ff;
    color: #72d8ff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}

.ld-wz-ul li .wz-bt {
    float: left;
    display: block;
    overflow: hidden;
    width: 380px;
    height: 70px;
    color: #72d8ff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 70px;
}

.ld-wz-ul li .wz-ly {
    float: left;
    display: block;
    overflow: hidden;
    width: 200px;
    color: #72d8ff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 70px;
}

.ld-wz-ul li .wz-cbz {
    float: left;
    display: block;
    overflow: hidden;
    width: 93px;
    color: #2386db;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 70px;
}

.ld-wz-ul .no .wz-xh {
    background-color: #e9625f;
    box-shadow: none;
    color: #fff;
}

.ld-wz-ul .no .wz-cbz {
    color: #f09469;
}

.no-bb {
    border-bottom: none !important;
}

.ld-load-more {
    display: block;
    height: 47px;
    border: 1px solid #2d537d;
    border-top: none;
    box-shadow: inset 0 0 40px #2d537d;
    color: #97e2ff;
    text-align: center;
    font-size: 14px;
    line-height: 47px;
}

.ld-load-more img {
    margin-left: 7px;
    width: 23px;
    height: 23px;
}

.zx-wz-tit h2 {
    background: url("../images/cb-ld-bac11.png") no-repeat;
}

.rw-wz-ul {
    margin-right: -10px;
    padding: 0 0 0 20px;
    height: 710px;
}

.rw-wz-ul li {
    height: 70px;
    border-bottom: 1px dotted #204155;
    line-height: 70px;
}

.rw-wz-ul li .wz-dt {
    float: left;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 6px;
    width: 44px;
    height: 70px;
    border-left: 1px solid #1c4d6e;
}

.rw-wz-ul li .wz-dt span {
    display: block;
    margin-left: -5px;
    padding-left: 18px;
    background: url("../images/cb-ld-bac20.jpg") no-repeat left center;
    color: #1693ff;
    text-align: center;
    font-size: 14px;
    line-height: 70px;
}

.rw-wz-ul li .wz-bt {
    float: left;
    display: block;
    overflow: hidden;
    padding-left: 20px;
    width: 365px;
    height: 70px;
    color: #72d8ff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 70px;
}

.rw-wz-ul li .wz-ly {
    float: left;
    display: block;
    overflow: hidden;
    width: 200px;
    color: #72d8ff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 70px;
}

.rw-wz-ul li .wz-cbz {
    float: left;
    display: block;
    overflow: hidden;
    width: 93px;
    color: #2386db;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 70px;
}

.rw-wz-ul .no .wz-cbz {
    color: #f09469;
}

.cb-footer-lf {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 145px;
    height: 100px;
    background: url("../images/cb-cj-bac02.png") no-repeat;
}

.cb-footer-rt {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 145px;
    height: 100px;
    background: url("../images/cb-cj-bac03.png") no-repeat;
}

.re-ls-sel {
    position: relative;
    z-index: 999;
    height: 50px;
}

.lb-sel-bk {
    display: block;
    margin: 15px 29px 0 0;
    width: 156px;
    height: 35px;
    background: url("../images/cb-ld-bac22.png") no-repeat;
    line-height: 35px;
}

.rw-sel-op {
    height: 288px;
    background: url("../images/cb-ld-bac23.png") no-repeat !important;
}

.lb-sel-bk a.ab-sel-bac {
    display: block;
    padding: 0 30px 0 20px;
    width: 106px;
    height: 35px;
    background: url("../images/cb-jk-bac06.png") no-repeat 127px center !important;
    color: #fff;
    font-size: 16px;
    line-height: 35px;
}

.rw-sel-op a.ab-sel-bac {
    height: 40px;
    background: url("../images/cb-jk-bac07.png") no-repeat 127px center !important;
}

.lb-sel-bk ul {
    position: absolute;
    top: 56px;
    left: 0px;
    z-index: 3;
    display: none;
    width: 156px;
    border-top: none;
}

.lb-sel-bk ul li {
    float: left;
}

.lb-sel-bk ul li a {
    display: block;
    padding-left: 20px;
    width: 136px;
    height: 41px;
    color: #d2ebff;
    text-decoration: none;
    font-size: 15px;
    line-height: 41px;
}

.lb-sel-bk ul li a:hover {
    background: url("../images/cb-ld-bac24.png") no-repeat;
}

.cb-pol {
    position: absolute;
    top: 30px;
}